@import 'tailwindcss';
@config '../tailwind.config.ts';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-white text-neutral-900 antialiased;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
